/* reset */
* {
    box-sizing: border-box;
}

fieldset,
p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
div,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

input,
select,
button,
textarea {
    padding: 0;
    vertical-align: middle;
    box-sizing: border-box;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    font-family: "Noto Sans KR", sans-serif;
}

label,
button,
input[type=submit] {
    cursor: pointer;
    display: inline-block;
}

button {
    background-color: transparent;
    transition: all 0.2s ease;
}

a {
    text-decoration: none;
}

a,
input,
button,
textarea {
    border: 0 none;
    border-radius: 0;
    font-size: 1rem;
    color: #222;
}

a:active,
button:active,
input:focus {
    outline: none;
}

/* custom */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #eee;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]~label {
    position: relative;
    display: inline-block;
    padding-left: 30px;
}

input[type="checkbox"]~label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    background: url(assets/icon-chk1.svg) no-repeat center center / contain;
}

input[type="checkbox"]:checked~label {
    text-decoration: line-through;
}

input[type="checkbox"]:checked~label::before {
    background-image: url(assets/icon-chk2.svg);
}

/* tab */
.title {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
}
.toggle {
    padding: 0 15px;
    line-height: 30px;
}

.toggle svg {
    vertical-align: middle;
}

.title ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title li {
    padding: 10px 0;
    flex: 1;
    cursor: pointer;
    color: #A8AAAC;
    font-size: 18px;
    text-align: center;
}

.title li.active {
    border-radius: 30px;
}

/* content */
.list {
    margin: 20px 0;
    padding: 20px;
    height: 450px;
    overflow: auto;
    border-radius: 15px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.formbox {
    display: flex;
    align-items: stretch;
    gap: 15px;
}

.formbox input {
    width: calc(100% - 55px);
    padding: 10px;
    border-radius: 10px;
}

.formbox button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
}
.btn-del {
    color: #1396AB;
}